.nivo-controlNav {
  position: absolute;
  bottom: 0;
  padding: 0 20px !important;
  z-index: 11;
  text-align: left !important;
}

.metaslider .nivo-controlNav .nivo-control, .nivo-controlNav .nivo-control {
  background: #aaaaaa;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  margin: 0 2px 0 0;
  text-indent: -9999px;
  display: inline-block;
}

.metaslider .nivo-controlNav .nivo-control.active, .nivo-controlNav .nivo-control.active {
  background: #666666;
}

.nivo-directionNav a:hover {
  cursor: pointer
}

.nivo-directionNav {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 100000
}

body .theme-default .nivo-directionNav a {
  top: 50%;
  transform: translateY(-50%);
  height: 90px !important;
  width: 40px !important;
  background-color: rgba(153, 153, 153, 0.52);
  -webkit-transition: opacity 400ms ease-in-out !important;
  -moz-transition: opacity 400ms ease-in-out !important;
  -o-transition: opacity 400ms ease-in-out !important;
  transition: opacity 400ms ease-in-out !important;
  opacity: 0 !important;
  background-position: center center;
}

.metaslider:hover .nivo-directionNav a {
  opacity: 0.85 !important
}

.metaslider .nivo-directionNav a:hover {
  opacity: 1 !important;
}

body .theme-default .nivo-directionNav a.nivo-prevNav {
  background-image: url('./prev_arrow.png');
}

body .theme-default .nivo-directionNav a.nivo-nextNav {
  background-image: url('./next_arrow.png');
}

#main .nivo-nextNav {
  float: right !important;
  width: 30px !important
}

.metaslider .nivo-caption {
  bottom: 20px;
  left: inherit;
  right: 50px;
  width: 33%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.metaslider .nivo-caption h2, .metaslider .nivo-caption h3 {
  margin: 0;
}

@media (max-width: 992px) {
  .metaslider .nivo-caption {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .metaslider .nivo-caption {
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 13px;
  }
  .metaslider .nivo-controlNav {
    display: none;
  }
}